<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<google translate="label">
			<groups>
				<webmaster_tools translate="label">
					<label>Google Webmaster Tools</label>
					<frontend_type>text</frontend_type>
					<sort_order>25</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<verification_code translate="label">
							<label>Verification Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</verification_code>
					</fields>
				</webmaster_tools>
			</groups>
		</google>
	</sections>
</config>
