<?xml version="1.0"?>
<!--
/**
 * Yoast
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 *
 * @category   Yoast
 * @package    Yoast_CanonicalUrl
 * @copyright  Copyright (c) 2009 Yoast (http://yoast.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 -->

<config>
	<modules>
		<Yoast_CanonicalUrl>
			<version>0.1.0</version>
		</Yoast_CanonicalUrl>
	</modules>
	<admin>
        <routers>
			<canonicalurl>
				<use>admin</use>
				<args>
					<module>Yoast_Canonicalurl_Manage</module>
					<frontName>canonicalurl</frontName>
				</args>
			</canonicalurl>
        </routers>
    </admin>
	<frontend>
		<layout>
            <updates>
                <canonicalurl>
                    <file>canonicalurl.xml</file>
                </canonicalurl>
            </updates>
        </layout>
	</frontend>
	<global>
	    <resources>
            <canonicalurl_setup>
                <setup>
                    <module>Yoast_CanonicalUrl</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </canonicalurl_setup>
        </resources>
		<helpers>
            <canonicalurl>
                <class>Yoast_CanonicalUrl_Helper</class>
            </canonicalurl>
        </helpers>
		<blocks>
			<page>
				<rewrite>
					<html_head>Yoast_CanonicalUrl_Block_Head</html_head>
				</rewrite>
			</page>
		</blocks>
	</global>
	<adminhtml>
		<translate>
            <modules>
                <Yoast_CanonicalUrl>
                     <files>
                          <default>Yoast_CanonicalUrl.csv</default>
                     </files>
                </Yoast_CanonicalUrl>
            </modules>
        </translate>	
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <canonicalurl>
                                            <title>CanonicalUrl Section</title>
                                        </canonicalurl>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
        <web>
            <seo>
                <enabled>1</enabled>
				<trailingslash>1</trailingslash>
				<products>1</products>
            </seo>
        </web>
    </default>
</config>
